* {
    box-sizing: border-box;
}


/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */

header {
    border-bottom: 5px solid rgb(47, 119, 179);
}

footer {
    border-top: 5px solid rgb(47, 119, 179);
}

.card {
    width: 50%;
    margin: auto;
}

#fetch-button {
    width: 100%;
}

/* h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
} */

/* nav {
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    margin-left: 30%;

} */

/* ul {
    list-style: none;
    padding: 10px;
    margin: 5px;
} */

/* Add some space between list items */
/* li {
    display: inline;
    margin-right: 10px;
} */

/* .logo {
    width: 50px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
} */


/* .mode-button {
    margin-top: 10px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-image: url("../images/mode.png");
    background-size: cover;
    opacity: 0.9;
    vertical-align: middle;
    float: right;

} */

/* .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
} */

/* .left-column,
.right-column {
    flex: 1;
    margin: 0 10px;
    max-width: 45%;

} */

/* .card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;

} */

/* .left-column .card:nth-child(odd) {
    margin-right: 50%;
    /* Adjust spacing between cards
}*/

/* .left-column .card:nth-child(even) {
    margin-left: 48%;
} */

/* .right-column .card:nth-child(odd) {
    margin-right: 50%;
} */

/* .right-column .card:nth-child(even) {
    margin-left: 48%;
} */


/* footer img {
    display: inline-block;
    margin-top: -50px;
}

footer p {
    display: inline-block;
    margin-bottom: 0%;
    margin-top: 0%;
}

footer nav {
    margin-top: 20px;
    float: right;

}

footer nav ul li {
    display: inline;
    margin-right: 100px;
} */

/* @media (max-width: 768px) {

    .left-column,
    .right-column {
        flex-basis: calc(100% - 20px);
        margin: 0;
        max-width: 100%;
    }
}

.crypto-image {
    max-width: 100px;
    height: auto;
} */